<!--The content below is only a placeholder and can be replaced.-->
<nav class="bg-purple navbar navbar-expand-lg fixed-top navbar-dark">
  <a class="navbar-brand mr-auto mr-lg-0" href="#">Top News</a>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-3 source-nav">
      <div class="source-heading">
        <h6>Sources</h6>
      </div>
      <div class="div-divider"></div>
      <div class="source-tabs" *ngFor="let source of mSources" (click)="searchArticles(source.id);">
        <span class="source-icn"></span>
        <span class="source-title">{{source.name}}</span>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-8 news-container my-3 p-3 bg-white rounded shadow-sm">
      <h6 class="border-bottom border-gray pb-2 mb-0">Recent Updates</h6>
      <div class="media text-muted pt-3" *ngFor="let article of mArticles">
        <div class="news-card">
          <a href={{article.url}} target="_blank">
            <div class="row news-card__inner">
              <div class="col-md-3 news-img">
                <div class="news-img__container">
                    <img class="news--img" src="{{article.urlToImage}}" alt="">
                </div>
              </div>
              <div class="col-md-9 news-data">
                <h4>{{article.title}}</h4>
                <p class="news-pub">{{article.source.name}}</p>
                <p class="news-summary">
                  {{article.description}}
                </p>
              </div>
            </div>
          </a>
          <div class="divider-news"></div> 
        </div>
             
      </div>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
