html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}
a {
  outline: 0;
}
img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: #6f42c1; }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

.news-container {
  margin-top: 75px !important;
}
.news-card a{
  text-decoration: none;
}
.row.news-card__inner {
  padding: 10px;
}
.news--img {
  width: 270px;
  border-radius: 3px;
}
.news-data h4 {
  font-size: 18px;
  color: #054ada;
  margin-bottom: 0px;
}
.news-data h4:hover{
  color: #05369c;
}
.news-pub {
  color: #565656;
  font-style: italic;
  font-size: 12px;
  margin: 5px 0px;
}
.news-summary {
  font-size: 14px;
  color: #252525;
  margin: 0;
}
.col-md-3.source-nav {
  background-color: #fff;
  margin-top: 70px;
  border-radius: 3px;
  padding: 0px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}
.div-divider {
  border-bottom: 1px solid #dee2e6;
  width: 90%;
  margin: 0 auto;
}
.divider-news {
  border-bottom: 1px solid #dee2e6;
  width: 98%;
  margin: 0 auto;
}
.source-tabs {
  padding: 10px 15px;
  cursor: pointer;
}
.source-tabs:hover, .source-tabs:focus, .source-tabs:active{
  background-color: #c9deff;
}
.source-title {
  font-size: 14px;
  letter-spacing: .6px;
  color: #505050;
}
.source-heading {
  padding: 15px 15px 10px 15px;
}
.source-heading h6{
  margin: 0;
}
.source-icn {
  width: 10px;
  height: 10px;
  background-color: #414141;
  border-radius: 2px;
  display: inline-block;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  /* start of medium tablet styles */
  .col-md-3.source-nav{
    display: none;
  }
  .news--img{
    width: 100%;
    border-radius: 3px;
    padding-bottom: 20px;
  }
}